In [13]:
import pandas as pd
from os import path

In [14]:
csv_in =  path.join('..', 'data', 'healthcare-dataset-stroke-data.csv')
df_in = pd.read_csv(csv_in)
df_in.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [32]:
feature = 'gender'
list(set(df_in[feature].tolist()))

['Male', 'Other', 'Female']

### Smoke or non-smoke

In [3]:
# Filter Unknown
mask = df_in["smoking_status"] != "Unknown"
df_smoke_non_smoke = df_in[mask]
df_smoke_non_smoke.shape
#df_in["smoking_status"]

(3566, 12)

In [9]:
# smoke and stroke
mask1 = df_smoke_non_smoke["smoking_status"] == "never smoked"
df1 = df_smoke_non_smoke[mask1]
mask2 = df1["stroke"] == 1
df2 = df1[mask2]

In [10]:
df2.shape

(90, 12)

In [11]:
# smoke and stroke
mask1 = df_smoke_non_smoke["smoking_status"] == "never smoked"
df1 = df_smoke_non_smoke[mask1]
mask2 = df1["stroke"] == 0
df2 = df1[mask2]
df2.shape

(1802, 12)

In [13]:
# smoke and stroke
mask1 = df_smoke_non_smoke["smoking_status"] != "never smoked"
df1 = df_smoke_non_smoke[mask1]
mask2 = df1["stroke"] == 0
df2 = df1[mask2]
df2.shape

(1562, 12)

In [2]:
import numpy as np

In [9]:
table_list = [[i,i,i,i] for i in range(4)]

In [10]:
table_list

[[0, 0, 0, 0], [1, 1, 1, 1], [2, 2, 2, 2], [3, 3, 3, 3]]

In [17]:
df_temp = df_in[:]

In [19]:
df_temp = df_temp[df_temp['smoking_status'] == 'never smoked']

In [20]:
df_temp.shape

(1892, 12)

In [21]:
df_in.shape

(5110, 12)

In [22]:
df_in.shape[0]

5110