In [1]:
import pandas as pd
from os import path

In [2]:
csv_in =  path.join('..', 'data', 'healthcare-dataset-stroke-data.csv')
df_in = pd.read_csv(csv_in)
df_in.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [10]:
mask = pd.isna(df_in["bmi"])
df_clean = df_in[~mask]

mask = df_clean['smoking_status'] == "Unknown"
df_clean = df_clean[~mask]

df_clean = df_clean[['age', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 
                     'avg_glucose_level', 'bmi', 'smoking_status', 'stroke']]

In [11]:
csv_out =  path.join('..', 'data', 'healthcare-dataset-stroke-data-cleanbmi.csv')
df_clean.to_csv(csv_out, index=False)

In [12]:
csv_out

'../data/healthcare-dataset-stroke-data-cleanbmi.csv'